.SkillElementPanel {
  --size: clamp(7.5rem, 10vw, 10.5rem);
  --tab: rgba(240, 240, 240, 0.418);
  --skill-element: rgba(216, 216, 216, 0.178);
  --skill-element-background: rgb(88, 88, 88);
  --skill-element-panel: rgb(58, 58, 58);
  --slider-color: rgb(255, 185, 80);

  position: relative;
  background-color: var(--skill-element-panel);
  height: 100%;
  max-height: 100%;

  width: 30rem;
  max-width: 90%;

  right: 0%;

  position: absolute;

  display: inline-flex;
  flex-direction: column;

  transition: width 0.4s ease-in-out;

  font-family: Arial, Helvetica, sans-serif;

  z-index: 2;
}

.SlideTab {
  display: block;
  position: absolute;
  left: 0%;
  bottom: 2%;
  transform: translate(-100%);
  background-color: var(--tab);

  height: 4rem;
  width: 2rem;

  border-radius: 10px 0px 0px 10px;
  z-index: 1;
}
#slide-tab-tutorial {
  transform: translate(-100%, -115%);
  color: #e69f08;
  font-weight: 950;
}
#slide-tab-skills {
  transform: translate(-100%);
}

.SlideTabText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
}

.SkillElementPanel {
  transform: translate(0%);
}

.SkillElementContainer {
  background-color: var(--skill-element-background);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  position: relative;
  height: 43%;
  width: 100%;
  right: 0%;

  overflow: scroll;
  overflow-x: hidden;
}

#SkillSelected {
  margin-bottom: 3px;
  border-radius: 0px 0px 10px 10px;
}

#SkillDeselected {
  border-radius: 10px 10px;
}

.SkillElement {
  position: relative;
  width: 100%;
}
.SkillElementHead {
  position: relative;
  min-height: calc(var(--size) / 3);
  width: 100%;

  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 1px;
}
.SkillElementHead button {
  border-radius: clamp(3px, 0.4rem, 15px) !important;
}

.SkillElementImageContainer {
  position: relative;
  left: 2px;

  height: calc(0.9 * var(--size) / 3);
  width: calc(0.9 * var(--size) / 3);
  min-height: calc(0.9 * var(--size) / 3);
  min-width: calc(0.9 * var(--size) / 3);

  background: var(--skill-element);
  border-radius: 10px;
}

.SkillElementImage {
  position: relative;
  max-height: 85%;
  max-width: 85%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.SkillElementText {
  position: relative;
  bottom: 0;
  left: 6px;

  display: block;
  width: 100%;

  height: calc(0.9 * var(--size) / 3);

  background: var(--skill-element);
  border-radius: 10px;

  font-size: larger;
}

.SkillElementTextSpan {
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 3%;
}

/* Button references select all button */
.ArrowAndButtonContainer {
  position: absolute;
  display: inline-flex;

  width: 6rem;
  height: 100%;
  top: 0%;
  right: 1rem;

  justify-content: space-around;
  align-items: center;
}

.SkillElementArrow {
  position: relative;

  font-weight: 500;
  font-size: 1.5rem;
}

/* SkillElement buttons (and SubSkillDropDownContainer) */
.SkillElementPanel button {
  border-radius: 5px;
  border: 3px solid transparent;
  font-size: 1em;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 18px;
  width: 18px;
}

#SkillSelected button {
  background-color: var(--remove-red);
}
#SkillDeselected button {
  background-color: var(--add-green) !important;
}

#SkillSelected .HeaderButtonContainer {
  font-size: medium;
}

.SkillElementPanel button:hover {
  border-color: #f5e3c1;
}

.HeaderButtonContainer {
  position: relative;

  height: calc(var(--size) / 4);
  width: calc(var(--size) / 4);
  max-height: calc(var(--size) / 4);
  max-width: calc(var(--size) / 4);
}

.HeaderButtonContainer button {
  position: relative;
  display: flex;

  height: 100%;
  width: 100%;

  justify-content: center;
  align-items: center;
}

.SelectAllButton div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: bold;
  font-size: calc(var(--size) / 3.5);
}

#SkillSelected .SelectAllButton div {
  top: 40%;
}

.SearchButtons {
  position: absolute;
  display: inline-flex;

  width: 6rem;
  height: 100%;
  top: 0%;
  right: 1rem;

  justify-content: space-around;
  align-items: center;
}
.SearchButtonContainer {
  position: relative;
  height: 2.2rem;
  width: 2.2rem;
}

.SearchButtonContainer .AddCustomSearch,
.SearchButtonContainer .DeleteSearchButton {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
}
.AddCustomSearch {
  background-color: var(--add-green) !important;
}

/* SubSkillDropDown */
.SubSkillDropDownContainer {
  position: relative;
  width: 100%;
}
.SubSkill {
  background-color: #505050;
  border-top: solid #1a1a1a 1px;
  transition: background-color 0.2s;
}
.SubSkill:hover {
  background-color: #dda234;
}

.SubSkillText {
  position: relative;
  left: 5px;
}

.SubSkillButton {
  position: relative;
  left: 3px;
  top: -4px;
  z-index: 1;
}
#SkillSelected .SubSkillButton p {
  position: absolute;
  top: -23px;
  left: 4px;
  z-index: -1;
  font-weight: bolder;
}
#SkillDeselected .SubSkillButton p {
  position: absolute;
  top: -22px;
  left: 1px;
  z-index: -1;
  font-weight: bolder;
}

/* Search element */
.SearchElementForm {
  display: flex;
  align-items: center;
}

.SearchElementInput {
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 3px;
  margin-right: 3px;
  margin-left: 3px;
}

.SearchElementButton {
  position: relative;
  transition: opacity 0.25s;
  top: 1px;
  opacity: 50%;
}

.SearchElementButton p {
  position: relative;
  margin: 0;
  left: -3.5px;
  top: -3.5px;
}

/* ---The slider panel--- */
#slider-panel {
  margin-top: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  width: 100%;
}

/* Multi sliders */
#slider-container {
  width: 70%;
  height: 100%;
  min-height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-inline: 4%;
}

.multi-range-slider {
  height: 40%;
  padding: 0% !important;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  padding-top: 0rem !important;

  margin-top: 2px;
  margin-right: 0rem !important;

  display: flex;
  border: none !important;
  box-shadow: none !important;
  width: 100%;
}

.multi-range-slider .ruler-rule {
  height: 20%;
  border-bottom: 0 !important;
  border-top: solid 1px;
}

.multi-range-slider .bar-inner {
  background-color: var(--slider-color) !important;
  box-shadow: none !important;
}

.multi-range-slider .thumb {
  position: relative;
  top: -66%;
}

.multi-range-slider .thumb .caption * {
  background-color: #c5963e !important;
}

.multi-range-slider .thumb::before {
  width: 0.4rem !important;
  border-radius: 20% !important;
  margin: 0% !important;
  box-shadow: none !important;
  /* transform: translateX(-50%) !important; */
}

.multi-range-slider .labels {
  position: relative;
  margin-top: 0px !important;
  margin-bottom: -4.5rem !important;
  height: 1rem;
}

.multi-range-slider .label {
  position: relative;
  top: 3px;
  height: auto;
  width: auto !important;
}

/* The control buttons */
#control-buttons-container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#slider-panel .control-skills-buttons {
  position: relative;
  width: 100%;
  height: 50%;
  margin-top: 2px;
  margin-bottom: 2px;

  border-radius: 5px;
  border: solid grey 2px;
  transition: filter 0.2s cubic-bezier(0.54, 0, 0.46, 1.01);

  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.control-skills-buttons {
  filter: brightness(120%);
}

#analyze-skills-button {
  background-color: var(--add-green);
}
#reset-skills-button {
  background-color: var(--remove-red);
}
