:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(43, 42, 46);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --remove-red: rgba(204, 100, 100, 0.747);
  --add-green: rgba(114, 179, 108, 0.747);
}

html,
body{
  margin:0;
  padding:0;
  height:100%;
  overflow: hidden;
}

#root, body{
  position: relative;
  min-height: 100%;
}

#MainContainer{
  position: absolute;

  top: 0%;
  bottom: 0%;
  left: 0%;

  width: 100%;
  max-width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---Top left logo image--- */

#logo-image-container{
  display: none;
  margin: 0.1rem;

  height: 5rem;
  width: 6rem;

  border-radius: 10px;
  background-color: #ffffff38;

  opacity: 45%;
}
#logo-image{
  position: relative;
  max-width: 94%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

