body{
  height: 100%;
  width: 100%;
}

#MainContainer{
  position: absolute;
  top: 0%;
  bottom: 0%;
  width: 1500px;
  left: 50%;
  transform: translate(-50%);

}

#ChartPanel{
  position: relative;
  display: inline-block;
}

.AnalyzeSkillsButton{
  position: relative;
  background-color: red;
  width: auto;
  height: 30px;
  top: 10px;
  left: 50%;
}