/* Several chart stylings are defined in the `chartSettings` object in App.jsx */
#ChartPanel{
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
  max-height: 100%;
  
  width: clamp(1200px, 80%, 100%);
  text-align: left;

  flex-wrap: nowrap;

  overflow: hidden;
}

#top-charts-panel{
  position: relative;
  display: inline-flex;
  max-width: 100%;
  
  flex-wrap: wrap;
  height: 50vh;
}

/* Skill frequency chart */
.SalaryDistributionChart{
  width: 50%;
  height: 50vh;
  display: flex;
}

.SkillFrequencyChart{
  position: relative;
  width: 50%;
  height: 50vh;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.BarComponentContainer{
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.4s cubic-bezier(.52,-0.01,.5,1);
}


.SkillFrequencyChartArrow{
  position: absolute;
  background-color: transparent;
  border-top: 1rem solid transparent; 
  border-bottom: 1rem solid transparent;
  height: 2rem;
  z-index: 1;
  
  top: 5%;

  --arrow-color: rgb(177, 147, 104);
}

.SkillFrequencyChartArrow#left-arrow{
  right: 4rem;
  border-right: 20px solid var(--arrow-color);
  border-left: transparent; 
}

.SkillFrequencyChartArrow#right-arrow{
  border-left: 20px solid var(--arrow-color);
  border-right: transparent; 
  right: 1rem;
}

.SkillFrequencyChartArrow:hover{
  border-color: transparent;
  filter: brightness(130%);
}


/* Time series chart */
.SalaryTimeSeries{
  position: relative;
  display: flex;
  width: 100%;
  height: 50vh;
}

@media screen and (max-width: 1200px) {
  #ChartPanel{
    overflow-y: scroll;
  }

  .SalaryDistributionChart{
    width: 100%;
  }
  
  .SkillFrequencyChart{
    width: 100%;
  }

  #top-charts-panel{
    height: 100vh;
  }

  .SalaryTimeSeries{
    height: 50vh;
    min-height: 50vh;
  }
}