
:root{
  --size: 15vh;
}

.SkillElementPanel {
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    height: 100%;

    background-color: black;
    display: inline-flex;
}

.SkillElementContainer{
  background-color: grey;
  display: flex;
  flex-wrap: wrap;  
  justify-content: flex-start;
  flex-direction: column;

  width: calc(1.5*var(--size));
  position: relative;
  top: 0%;
  bottom: 0%;
  height: 100%;
  margin-inline: 4PX;
  overflow: auto;
}


.SkillElement{
  position: relative;
  height: calc(var(--size)/3);
  width: 100%;
  
  cursor: pointer;
  display: inline-flex;
  align-items: stretch;
  background-color: black;
  align-items: center;
  margin-bottom: 3px;
}

.SkillElementImageContainer{
  position: relative;
  left: 2.5%;
  height: calc(0.9*var(--size)/3);
  width: calc(0.9*var(--size)/3);
  background: grey;
  border-radius: 5px;
}

.SkillElementImage{
  position: relative;
  max-height: 85%;
  max-width: 85%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.SkillElementText{
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  
  display: inline-block;
  width: 100%;

  height: calc(0.9*var(--size)/3);
  background: grey;
  border-radius: 5px;

  font-size: larger;
}

.SkillElementText p{
  position: relative;
  left: 5%;
}