.SkillElementPanel {
  --size: 150px;

  position: relative;
  top: 0%;
  bottom: 0%;
  right: 0%;
  min-width: 40vh;
  max-width: 55vh;
  height: 100%;

  display: inline-flex;

  font-family: Arial, Helvetica, sans-serif;
}

.SkillElementContainer{
  background-color: rgb(48, 48, 48);
  display: flex;  
  justify-content: flex-start;
  flex-direction: column;

  min-width: 13vw;
  width: 30vh;


  position: relative;
  top: 0%;
  bottom: 0%;
  
  margin-inline: 0px;
  overflow: scroll;
  overflow-x: hidden;
}

.SkillElement{
  position: relative;
  width: 100%;
}
.SkillElementHead{
  position: relative;
  min-height: calc(var(--size)/3);
  width: 100%;
  
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 0.1vh;
  margin-bottom: 0.1vh;
}

.SkillElementImageContainer{
  position: relative;
  left: 0.1vh;
  
  height: calc(0.9*var(--size)/3);
  width: calc(0.9*var(--size)/3);
  min-height: calc(0.9*var(--size)/3);
  min-width: calc(0.9*var(--size)/3);

  background: grey;
  border-radius: 5px;
}
.SkillElementImage{
  position: relative;
  max-height: 85%;
  max-width: 85%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.SkillElementText{
  position: relative;
  bottom: 0;
  left: 0.5vh;

  display: block;

  width: 50vh;
  height: calc(0.9*var(--size)/3);

  background: grey;
  border-radius: 5px 0px 0px 5px;

  font-size: larger;
}
.SkillElementTextSpan{
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 3%;
}

/* Button references select all button */
.ArrowAndButtonContainer{
  position: absolute;
  display: block;
  
  right: 5%;
  top: 5%;
  bottom: 5%;
}

.SkillElementArrow{
  position: relative;
  display: block;
  top: -10%;
  right: -5%;
}

/* SkillElement buttons (and SubSkillDropDownContainer) */
.SkillElementPanel button {
  border-radius: 5px;
  border: 3px solid transparent;
  font-size: 1em;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 18px;
  width: 18px;
}

#SkillSelected button{
  background-color: var(--remove-red);
}
#SkillDeselected button{
  background-color: var(--add-green) !important;
}

#SkillSelected .HeaderButtonContainer{
  font-size: medium;
}

.SkillElementPanel button:hover {
  border-color: #f5e3c1;
}

.HeaderButtonContainer{
  position: relative;
  height: 20px;
  bottom: 25%;
}
.SelectAllButton div{
  position: absolute;
  transform: translate(-50%, -55%);
  font-weight: bolder;
}

.AddCustomSearch{
  background-color: var(--add-green) !important;
}
.AddCustomSearch div{
  position: absolute;
  transform: translate(-50%, -55%);
  font-weight: bolder;
}

.SearchButtons{
  position: absolute;
  display: block;
  
  right: 5%;
  top: -6px;
  bottom: 5%;
}

.SearchButtonContainer{
  height: 20px;
  margin-bottom: 2px;
}


/* SubSkillDropDown */
.SubSkillDropDownContainer{
  position: relative;
  width: 100%;
}
.SubSkill{
  background-color: #505050;
  border-top: solid #1a1a1a 1px;
  transition: background-color 0.2s
}
.SubSkill:hover {
  background-color: #dda234;
}

.SubSkillText{
  position: relative;
  left: 0.5vh;
}

.SubSkillButton{
  position: relative;
  left: 0.2vh;
  top: -4px;
  z-index: 1;
}
#SkillSelected .SubSkillButton p{
  position: absolute;
  top: -23px;
  left: 4px;
  z-index: -1;
  font-weight: bolder;
}
#SkillDeselected .SubSkillButton p{
  position: absolute;
  top: -22px;
  left: 1px;
  z-index: -1;
  font-weight: bolder;  
}

/* Search element */
.SearchElementForm{
  display: flex;
  align-items: center;
}

.SearchElementInput{
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 3px;
  margin-right: 3px;
  margin-left: 3px;
}


.SearchElementButton{
  position: relative;
  transition: opacity 0.25s;
  top: 1px;
  opacity: 50%;
}

.SearchElementButton p{
  position: relative;
  margin: 0;
  left: -3.5px;
  top: -3.5px;
}