.SlideupMenu {
    position: absolute;
    width: 100%;
    bottom: 0%;
    background-color: black;
}

.SlideupButton {
    position: relative;
    color: white;
  
    background-color: blue;
    border-radius: 5px;
    padding: 5px;  

    top: 0%;
    left: 50%;
    width: 10vw;

    transform: translateX(-50%);
  }
  
  .noselect {
  
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  
  }